.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

/.idea/*


.idea/modules.xml

.idea/vcs.xml

app/src/main/gen/pw/kvld/calculator/BuildConfig.java

app/src/main/gen/pw/kvld/calculator/Manifest.java

app/src/main/gen/pw/kvld/calculator/R.java
